<h2>Registrar un Nuevo Álbum</h2>

<form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre del Álbum</label>
    <input type="text" id="nombre" formControlName="nombre" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="artista">Artista</label>
    <input type="text" id="artista" formControlName="artista" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="genero">Género</label>
    <select id="genero" formControlName="genero" class="form-control" required>
      <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="fecha">Fecha de Lanzamiento</label>
    <input type="date" id="fecha" formControlName="fecha" class="form-control" required />
  </div>
  <div>
    <button mat-raised-button [disabled]="!albumForm.valid" routerLink="/home" (click)="onSubmit()">Enviar</button>

  </div>

</form>

